---
permalink: /404.html
layout: default
title: 404
---

<style>
    #outer {
        padding: 5% 0;
    }
    #inner {
        padding: 15% 0;
    }
</style>

<div id="outer">
<div id="inner" class="text-center">
    <h1>404</h1>
    This page could not be found
    <br>
    <a href="/"><button class="outline">
        Return to home
    </button></a>
</div>
</div>
