---
# Feel free to add content and custom Front Matter to this file.
# To modify the layout, see https://jekyllrb.com/docs/themes/#overriding-theme-defaults

layout: default
title: home
---

<div class="text-center">
<h1>Welcome to NilPtr!</h1>
<h5>My blog about technology and programming</h5>

<h3> Recent Posts </h3>
<div class="cards vertical-align center">
    <style>
    {% raw %}
        .card {
            padding: 10px;
            border: 1px solid #e5e5e5;
            margin: 5px;
            width: 300px;
            height: 300px;
            position: relative;
        }
        .card-footer {
            position: absolute;
            bottom:0;
            left:0;
            width:100%;
            border-top: 1px solid #e5e5e5;
        }
    {% endraw %}
    </style>
    {% for post in {{site.posts | where:"hidden",nil}} limit:3 %}
    <div class="card text-center">
        <h5 class="card-header">{{ post.title }}</h5>
        <p class="card-body">{{ post.blurb }}</p>
        <a class="card-footer center text-center" href="{{ post.url }}">
            <p>read more</p>
        </a>
    </div>
    {% endfor %}
</div>

</div>
