---
title: search
---
{% include prelude.html %}
{% include navbar.html %}
<br>

<!-- Html Elements for Search -->
<div id="search-container">
    <input type="text" id="search-input" placeholder="Type to search, or type space for a site index..." style="left: 1%;">
    <br>
    <div id="results-container"></div>
</div>

<!-- Script pointing to search-script.js -->
<script src="https://unpkg.com/simple-jekyll-search@latest/dest/simple-jekyll-search.min.js"></script>

<!-- Configuration -->
<script>
var sjs = SimpleJekyllSearch({
  searchInput: document.getElementById('search-container'),
  resultsContainer: document.getElementById('results-container'),
  json: '/search.json',
  searchResultTemplate: '<div class="card">\
<a href="{url}" class="card-heading"><h3>{title}</h3></a>\
<p class="card-body">{date}</p><\div>',
  fuzzy: false
 });
</script>
{% include footer.html %}
