<!-- CC License Disclaimer -->
<br><br><br><br><br>
<footer class="fixed"
        style="bottom:0;
               left:1px;
               display:flex;
               flex-direction: row;
               border-top: 1px solid #eaeaea;
               padding-top: 5px;
               background-color: white;">
    <span>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
            <img alt="Creative Commons License"
                 src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png"
            style="width:75px;height:25px" />
        </a><br/>
        This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
    </span>
    <span style="flex-grow: 8;"></span>
    <span style="align-self: center;">
        Source code is on <a href="https://gitlab.com/Hutzdog/hutzdog.gitlab.io">Gitlab</a>
    </span>
</footer>
