<div>
    <!--GoatCounter -->
    <script>
        if (window.location.host !== "nilptr.dev")
            window.goatcounter = {no_onload: true};
    </script>
    <script data-goatcounter="https://nilptr.goatcounter.com/count"
            async src="//gc.zgo.at/count.js">
    </script>

    <script>
        window.goatcounter.visit_count({append: 'body'});
    </script>

    <noscript>
        <img
            src="https://nilptr.goatcounter.com/count?p=/test-img"/>
    </noscript>
</div>
