<!-- Navbar Code -->
<header>
    <nav class="nav"
         style="border-bottom: 1px solid #eaeaea;
                padding-bottom: 24px;
                width: 100vw;
                left: -5px;
                top: -10px;
                background-color: white;
                position: fixed;
                display:flex;
                flex-direction: row;
                height:40px;
                z-index:100;">
        <h5 class="nav-logo">NilPtr</h5>
        <a class="nav-item" href="/">home</a>
        <a class="nav-item" href="/about">about</a>
        <a style="flex-grow:8">
        <a class="nav-item" href="/search">search</a>
    </nav>
    <br><br><br>
</header>
