<!-- Boilerplate -->
<head>
    <meta charset="utf-8"\>
    <title>{{ site.title }} | {{ page.title }}</title>
    <link rel="image/x-icon" href="/favicon.ico"/>

    <!--CSS Framework-->
    <link rel="stylesheet" href="https://unpkg.com/wingcss"/>
    <!-- Syntax Highlighting -->
    <link rel="stylesheet" href="/css/manni.css"/>

    <!-- Basic Styling -->
    <style>
     html, body {
         max-width: 100%;
         overflow-x: hidden;
     }
     img {
         width: 750px;
     }
    </style>
</head>
