---
layout: null
---

<!doctype html>
<html lang="en">
    {% include prelude.html %}
    {% include navbar.html %}
    <head>
        <meta name="description="
              content="{{ page.blurb }} Read more about it on nilptr.dev!">
        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "NewsArticle",
                "headline": "{{ page.title }}",
                "image": ["{{ page.image }}"],
                "datePublished": "{{ page.date }}",
                "dateModified": "{{ page.date }}"
            }
        </script>
    </head>
    <body>
        <div style="width: 100%">
            <h4 style="display: inline-block;
                       width: 75%;
                       height: 100%;">
                {{ page.title }}
            </h4>
            <h6 style="display: inline-block;
                       float:right;
                       text-align: right;
                       width:25%;
                       height:100%;">
                Posted on: {{ page.date | date_to_string }}<br/>
                </a>
            </h6>
        </div>
        <hr color="#e5e5e5">

        <div style="margin: 0px 10%">
        {{ content }}
        </div>
        {% include goatcounter.html %}
    </body>
    {% include footer.html %}
</html>
