---
layout: compress
---

<!doctype html>
<html lang="en">
    {% include prelude.html %}
    {% include navbar.html %}

    <meta name="description=" content="NilPtr is my blog on technology, FOSS, and Programming. It is currently very WIP, feedback should be posted on https://gitlab.com/Hutzdog/hutzdog.gitlab.io">
    <body>
        {{ content }}
        {% include goatcounter.html %}
    </body>
    {% include footer.html %}
</html>
